<footer class="container">
    <div>
        <span><a href="{{ site.url }}/privacy">Privacy</a></span>
    </div>
    &copy; {{ "now"|date("Y") }} {{ site.title }} | Powered by <a href="https://sculpin.io/">Sculpin</a>
</footer>