@charset "UTF-8";
/**
 * @file
 * Centralize your imports here.
 * Styles are organized using the SMACSS technique.
 * @see http://smacss.com/book/
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
/* line 7, ../sass/_custom.scss */
html {
  font-size: 18px;
  color: #222;
}

/* line 12, ../sass/_custom.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05rem;
  font-family: Source Sans Pro,Oswald,sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}
/* line 20, ../sass/_custom.scss */
body a:hover {
  text-decoration: none;
}

/* line 26, ../sass/_custom.scss */
pre code {
  background-color: inherit;
}

/* line 30, ../sass/_custom.scss */
img {
  max-width: 100%;
}

/* line 34, ../sass/_custom.scss */
* {
  box-sizing: border-box;
}

/* line 38, ../sass/_custom.scss */
.home-button {
  display: none;
}
@media (min-width: 770px) {
  /* line 38, ../sass/_custom.scss */
  .home-button {
    font-size: 1.1rem;
    position: fixed;
    left: 3%;
    top: 3%;
    display: block;
  }
  /* line 48, ../sass/_custom.scss */
  .home-button a {
    color: #333;
  }
}
@media (min-width: 980px) {
  /* line 38, ../sass/_custom.scss */
  .home-button {
    font-size: 1.5rem;
  }
}

/* line 59, ../sass/_custom.scss */
.sub-menu .fa {
  font-size: 1.6rem;
}

/* line 63, ../sass/_custom.scss */
.nav {
  font-size: .9rem;
  line-height: 1.3em;
}

/* line 68, ../sass/_custom.scss */
.hero-image {
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

/* line 75, ../sass/_custom.scss */
.heroimage--portrait-thumbnail {
  display: none;
}
@media (min-width: 770px) {
  /* line 75, ../sass/_custom.scss */
  .heroimage--portrait-thumbnail {
    max-width: 150px;
    height: auto;
    position: absolute;
    bottom: -35px;
    left: 10%;
    border: 5px solid white;
    border-radius: 20px;
    display: block;
  }
}
@media (min-width: 980px) {
  /* line 75, ../sass/_custom.scss */
  .heroimage--portrait-thumbnail {
    left: 15%;
  }
}
@media (min-width: 1200px) {
  /* line 75, ../sass/_custom.scss */
  .heroimage--portrait-thumbnail {
    left: 20%;
  }
}

/* line 98, ../sass/_custom.scss */
.blog-description {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

/* line 104, ../sass/_custom.scss */
li {
  line-height: 30px;
}

/* line 108, ../sass/_custom.scss */
header .title {
  text-align: center;
}

/* line 112, ../sass/_custom.scss */
.menu {
  text-align: center;
}

/* line 117, ../sass/_custom.scss */
.menu h1 {
  display: inline;
}

/* line 123, ../sass/_custom.scss */
.menu span + span:before {
  content: " | ";
  padding: 0 10px;
}

/* line 128, ../sass/_custom.scss */
.sub-menu {
  text-align: center;
}
/* line 131, ../sass/_custom.scss */
.sub-menu a + a:before {
  content: " · ";
  padding: 0 10px;
}

/* line 137, ../sass/_custom.scss */
header.container {
  padding-top: 20px;
}

/* line 141, ../sass/_custom.scss */
main article {
  margin-bottom: 70px;
}

/* line 145, ../sass/_custom.scss */
pre {
  background-color: #f8f8f8;
}

/* line 149, ../sass/_custom.scss */
pre code {
  color: #000;
}
/* line 152, ../sass/_custom.scss */
pre code .javadoc,
pre code .comment {
  color: #629755;
  font-weight: bold;
}
/* line 158, ../sass/_custom.scss */
pre code .class .keyword {
  color: #CC7832;
}
/* line 162, ../sass/_custom.scss */
pre code .keyword {
  color: #9876AA;
}

/* line 167, ../sass/_custom.scss */
.content .center {
  text-align: center;
  margin-bottom: 10px;
}

/* line 2, ../sass/_blog.scss */
article.camps-table table, article.camps-table th, article.camps-table td {
  border: grey 1px solid;
}
/* line 5, ../sass/_blog.scss */
article.camps-table td, article.camps-table th {
  padding: 10px;
}
/* line 8, ../sass/_blog.scss */
article.camps-table thead tr {
  background-color: lightgray;
}
/* line 11, ../sass/_blog.scss */
article.camps-table tbody tr:nth-child(even) {
  background-color: #ededed;
}
