<!DOCTYPE html>
<html>
<head>
    {% include "head" %}
</head>
<body>
    <div class="page-content">
        {% include "header" %}
        <main class="content" role="main">
            <div class="row-fluid">
                <div class="span6 offset2">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="span2 sidebar">
                    {% include "side_bar" %}
                </div>
            </div>
        </main>
        {% include "footer" %}
    </div>
    {% include "scripts" %}
</body>
</html>