// All sass changes in one place for easier scrutiny.
.body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; // What is this?
  -webkit-font-smoothing: antialiased; // What is this?
}

.heroimage {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  .heroimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
  }
}

header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

